body {
    color: #555459;
    background-color: #F7F7F7;
}

/*.full {*/
/*position: absolute;*/
/*height: 100%;*/
/*margin: 0;*/
/*min-height: 100%;*/
/*padding: 0;*/
/*}*/

/*.full-height {*/
/*background-color: red!important;*/
/*height: 100%;*/
/*float: left;*/
/*}*/

.sidebar {
    background-color: #E5E5E5;
    padding: 20px;
    height: 100%;
}

.task-list {
    padding: 20px;
    background-color: #EFEFEF;
}

.subcat-title {
    font-size: 1.5em;
}

.float-right {
    float: right;
}

.gray {
    color: #AAA;
}

.seperator {
    border-left: solid #EAEAEA 1px;
}

.task-row-header {
    background-color: #F6F6F6;
}

.task-row {
    /*margin-top: 3px;*/
}

.task-row > div {
    height: 40px;
}

.task-row > div, .task-row label, .task-row input, .task-row span {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.important {
    margin-bottom: 0;
    /*border: dashed 1px gold;*/
    /*box-shadow: gold 0 0 3px;*/
    z-index: 999;
}

.star-task {
    color: gold;
    position: absolute;
    top: 13px;
    left: 32px;
}

.star-task-title {
    margin-left: 14px;
}

.done label {
    text-decoration: line-through;
}

.inline {
    display: inline;
}

.empty-task-text {
    color: lightgray;
    line-height: 1.6;
    margin-top: 0;
}

.cursor-move {
    cursor: move;
}

.reorder-handle {
    margin-left: -5px;
    margin-top: 4px;
}

.reorder-handle, .reorder-handle:focus, .reorder-handle:active {
    border: none;
}

.reorder-handle:focus, .reorder-handle:active {
    background-color: #e6e6e6;
}

.bar-group {
    position: absolute;
    width: 10px;
    height: 60px !important;
    padding: 0;
    margin: -10px -15px -10px -15px;
}

.bar {
    position: absolute;
    width: 10px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.bar-red {
    background-color: red;
}

.bar-orange {
    background-color: orange;
}

.bar-gold {
    background-color: gold;
}