body {
    color: #555459;
    /*background-color: #F7F7F7;*/
    background-color: #EEE;
}

/*.full {*/
/*position: absolute;*/
/*height: 100%;*/
/*margin: 0;*/
/*min-height: 100%;*/
/*padding: 0;*/
/*}*/

/*.full-height {*/
/*background-color: red!important;*/
/*height: 100%;*/
/*float: left;*/
/*}*/

.sidebar {
    /*background-color: #f0f0f0;*/
    padding: 20px;
    height: 100%;
}

.task-list {
    padding: 20px;
    /*background-color: #EFEFEF;*/
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.float-right {
    float: right;
}

.gray {
    color: #AAA;
}

.lightgray {
    color: #CCC;
}

.seperator {
    border-left: solid #EAEAEA 1px;
}

.task-row-header {
    background-color: #F6F6F6;
}

.task-row {
    /*margin-top: 3px;*/
}

.task-row > div {
    height: 40px;
}

.task-row > div, .task-row label, .task-row input, .task-row span {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.star-task {
    color: gold;
    position: absolute;
    top: 13px;
    left: 32px;
}

.star-task-title {
    margin-left: 14px;
}

.done label {
    text-decoration: line-through;
}

.inline {
    display: inline;
}

.empty-task-text {
    color: lightgray;
    line-height: 1.6;
    margin-top: 0;
}

.cursor-move {
    cursor: move;
}

.reorder-handle {
    margin-left: -5px;
    margin-top: 4px;
}

.reorder-handle, .reorder-handle:focus, .reorder-handle:active {
    border: none;
}

.reorder-handle:focus, .reorder-handle:active {
    background-color: #e6e6e6;
}

.bar-group {
    position: absolute;
    width: 10px;
    height: 60px !important;
    padding: 0;
    margin: -10px -15px -10px -15px;
}

.bar {
    position: absolute;
    width: 10px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.bar-red {
    background-color: red;
}

.bar-orange {
    background-color: orange;
}

.bar-gold {
    background-color: gold;
}

.cat-list > a, .cat-list > a:hover, .cat-list > a:active, .cat-list > a:focus,
.cat-list > li, .cat-list > li:hover, .cat-list > li:active, .cat-list > li:focus {
    color: #337ab7;
}

.cat-list-done > a, .cat-list-done > a:hover, .cat-list-done > a:active, .cat-list-done > a:focus,
.cat-list-done > li, .cat-list-done > li:hover, .cat-list-done > li:active, .cat-list-done > li:focus {
    color: #ca0000;
}

.delete-category {
    margin-top: -51px;
    float: right;

}

.add-btn {
    font-weight: bold;
    float: right;
    margin-right: 15px;
}

.add-input {
    float: left;
    margin-left: 15px;
    width: -moz-calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px);
}

.cat-list > a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat-list-done > a.active, .cat-list-done > a.active:focus, .cat-list-done > a.active:hover,
.cat-list-done > li.active, .cat-list-done > li.active:focus, .cat-list-done > li.active:hover{
    color: #fff !important;
    background-color: #ca0000 !important;
    border-color: #ca0000 !important;
}

.black-anchor, .black-anchor:hover, .black-anchor:active, .black-anchor:focus, .black-anchor:visited {
    color: black;
}

.well {
    overflow: hidden;
    overflow-wrap: break-word;;
}

.height-100 {
    height: 100%;
}

.padding-top-10 {
    padding-top: 10px!important;
}

.padding-bottom-10 {
    padding-bottom: 10px!important;
}

.padding-top-20 {
    padding-top: 20px!important;
}

.padding-bottom-20 {
    padding-bottom: 20px!important;
}

.padding-top-30 {
    padding-top: 30px!important;
}

.padding-bottom-30 {
    padding-bottom: 30px!important;
}

.padding-top-40 {
    padding-top: 40px!important;
}

.padding-bottom-40 {
    padding-bottom: 40px!important;
}

.padding-top-50 {
    padding-top: 50px!important;
}

.padding-bottom-50 {
    padding-bottom: 50px!important;
}

.padding-top-60 {
    padding-top: 60px!important;
}

.padding-bottom-60 {
    padding-bottom: 60px!important;
}

.add-task-well {
    padding-bottom: 0!important;
    padding-top: 15px!important;
    margin-bottom: 0;
}

.big-well {
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
}

.big-well > span {
    font-size: 2em;
}

.big-well > p {
    font-size: 1.12em;
}

.no-decoration, .no-decoration:hover, .no-decoration:active, .no-decoration:focus, .no-decoration:visited {
    text-decoration: none;
}









.clearfix:after {
    content: "";
    display: table;
    clear: both;
}





.main-footer {
    color: #CCC;
    width: 100%;
    position: fixed;
    bottom: 5px;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
}

.main-footer a {
    transition: color 0.4s ease-out;
}

.main-footer a:hover, .main-footer a:active {
    color: #888 !important;
}

.main-footer a:focus, .main-footer a:visited {
    color: #CCC;
}

.tasks-list {
    margin-top: -10px;
}