<div class="row">
    <div class="col-sm-3 sidebar">

        <a class="no-decoration black-anchor" ui-sref="category">
            <h3>Categories</h3><br>
        </a>
        <form name="addCategoryForm" ng-submit="addCategory()" novalidate>
            <div class="row clearfix">
                <input id="addCategoryInput" class="form-control add-input" ng-model="newCategory" type="text"
                       placeholder="New Category">
                <button class="btn btn-default add-btn" ng-disabled="!newCategory" type="submit">
                    +
                </button>
            </div>
        </form>
        <br>
        <div class="list-group cat-list clearfix" ng-show="categories[0]" ui-sortable="sortableOptions" ng-model="categories">
            <a ng-repeat="category in categories" class="list-group-item"
               ui-sref="category.categoryId({categoryId: categories.indexOf(category)})"
               ng-class="{'active': isActive(categories.indexOf(category))}">
                <span class="badge">{{countItems(category)}}</span>
                <span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;{{category.name}}
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="well text-center" ng-hide="categories[0]">
            <h5>No categories!</h5>
            <!--<h6>Add a new Category.</h6>-->
            <button class="btn btn-primary" type="button" ng-click="focusOn('#addCategoryInput')">New Category</button>
        </div>
        <div class="list-group cat-list-done">
            <a class="list-group-item" ui-sref="category.doneTasks" ng-class="{'active': isActive('doneTasks')}">
                <span class="badge">{{doneTasks.length}}</span>
                Done Tasks
            </a>
        </div>

    </div>
    <div class="col-sm-9 task-list" ui-view>
        <div class="well lightgray big-well">
            <span class="title">No Catecory Selected!</span><br>
            <p class="title">Please select a category to see details...
        </div>
    </div>
</div>
