<div class="row">
    <div class="col-sm-4 sidebar">

        <h3>Categories</h3><br>
        <form name="addCategoryForm" ng-submit="addCategory()">
            <input class="" ng-model="newCategory" type="text" placeholder="+ New Category">
            <button class="btn btn-default btn-sm" ng-if="newCategory" type="submit">+</button>
        </form>
        <ul>
            <li ng-repeat="category in categories">
                <h4><a ng-href="#/category/{{categories.indexOf(category)}}">{{category.name}}</a></h4>
                <ul>
                    <li ng-repeat="subCat in category.subCategories">
                        <a ng-href="#/category/{{categories.indexOf(category)}}/{{category.subCategories.indexOf(subCat)}}">{{subCat.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="col-sm-8 task-list" ui-view>
        No category selected!
    </div>
</div>
