<div class="row well big-well padding-top-20 padding-bottom-40">
    <div class="text-left">
        <h3 class="title">Task Details</h3>
        <p class="gray">{{category.name}} / {{getSubCatName()}} / {{task.title}}</p>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p class="gray no-margin-bottom">Title:</p>
            <h3 class="no-margin-top">{{task.title}}</h3>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <p class="gray no-margin-bottom">Due Date:</p>
            <h3 class="no-margin-top">
                {{task.dueDate | date: dateFormat +' '+ timeFormat}}
                <span ng-hide="task.dueDate">-</span>
            </h3>
        </div>
        <div class="col-sm-12 col-lg-6">
            <p class="gray no-margin-bottom">Done Date:</p>
            <h3 class="no-margin-top">
                {{task.doneDate | date: dateFormat +' '+ timeFormat}}
                <span ng-hide="task.doneDate">-</span>
            </h3>
        </div>
    </div>
    <hr>
    <div class="row padding-bottom-10 padding-top-10">
        <div class="col-sm-12">
            <p class="gray no-margin-bottom">Description:</p>
            <h4 class="title">{{task.description}}</h4>
        </div>
    </div>
    <hr>
    <div class="row padding-top-10">
        <div class="col-sm-4">
            <p class="gray no-margin-bottom">Is it Important:</p>
            <h4 class="title gold">{{task.important ? 'YES' : 'NO'}}</h4>
        </div>
        <div class="col-sm-4">
            <p class="gray no-margin-bottom">Is Due Date near:</p>
            <h4 class="title orange">{{task.isClose ? 'YES' : 'NO'}}</h4>
        </div>
        <div class="col-sm-4">
            <p class="gray no-margin-bottom">Is Due Date Passed:</p>
            <h4 class="title red">{{task.isPassed ? 'YES' : 'NO'}}</h4>
        </div>
    </div>
</div>