<div ng-show="stateIs('category.categoryId')">
    <form name="addSubCategoryForm" ng-submit="addSubCategory()">
        <input class="" ng-model="newSubCategory" type="text" placeholder="+ New SubCategory" size="50">
        <button class="btn btn-default btn-sm" ng-show="newSubCategory" ng-disabled="!newSubCategory" type="submit">+</button>
    </form>
    <div class="row">
        <ul>
            <li ng-repeat="subCat in subCategories">
                <a class="subcat-title"
                   ui-sref="category.categoryId.subCategoryId({subCategoryId: {{subCategories.indexOf(subCat)}}})">
                    {{subCat.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div ui-view></div>
