<div ng-show="stateIs('category.categoryId') && category.hasSubCat">
    <div class="well">
        <h3 class="title">SubCategories</h3>
        <p class="gray">{{category.name}}/</p>
        <a class="btn btn-danger delete-category clearfix" ui-sref="delete.cat({'catId': activeState})">
            Delete Category
        </a>
        <form class="padding-top-20 padding-bottom-30" name="addSubCategoryForm" ng-submit="addSubCategory()" novalidate>
            <div class="row clearfix">
                <input class="form-control add-input" ng-model="newSubCategory" type="text"
                       id="addSubCategoryInput" placeholder="New SubCategory">
                <button class="btn btn-default add-btn" ng-disabled="!newSubCategory" type="submit">
                    +
                </button>
            </div>
        </form>
        <div class="big-well padding-bottom-20 padding-top-10 lightgray" ng-hide="category.subCategories[0]">
            <span>Create your first SubCategory in this Category!</span>
            <p></p>
            <br>
            <button class="btn btn-success" type="button" ng-click="focusOn('#addSubCategoryInput')">
                Add First SubCategory
            </button>
        </div>
        <div class="row list-group subcat-list clearfix" ng-show="categories[0]" ng-repeat="(key, subCat) in category.subCategories">
            <a class="list-group-item list-item-lg add-input"
               ui-sref="category.categoryId.subCategoryId({subCategoryId: key})">
                <span class="badge">{{countItems(subCat)}}</span>
                {{subCat.name}}
            </a>
            <a class="list-group-item list-item-sm" ui-sref="delete.subCat({'catId': activeState,'subId': key})">
                <span class="glyphicon glyphicon-trash text-danger"></span>
            </a>
        </div>
    </div>
</div>
<div ng-hide="category.hasSubCat || category.tasks">
    <div class="well big-well">
        <span>Need SubCategories?</span>
        <p>Please choose how you gonna fill this Category:</p><br>
        <button class="btn btn-success" type="button" ng-click="chooseSubCat()">Add SubCategory</button>
        <button class="btn btn-warning" type="button" ng-click="chooseTask()">Add Task Directly</button>
    </div>
</div>
<div ui-view></div>
